<%- include('../partials/head') %>

  <link rel="stylesheet" href="/css/products.css">
  </head>
  
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="container">
        <div class="section-title">
          <h1>Nuevo Producto</h1>
        </div>
        
        <form class="form-new" action="/products/" method="POST" enctype="multipart/form-data">
            <div>
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name">
            </div>

            <div>
                <label for="price">Precio</label>
                <input type="text" name="price" id="price">
            </div>

            <div>
              <label for="category">Categoria</label>
              <select name="category" id="category">
                <option value="">--Seleccione--</option>
                <% for (const cat of categories) { %>
                <option value="<%= cat.id %>"><%= cat.name %></option>
                <% } %>
              </select>
            </div>

            <div>
                <label for="img">Imagen</label>
                <input type="file" name="img" id="img">
            </div>

            <div></div>

            <div>
                <button type="submit">Guardar</button>
            </div>

        </form>
      </div>
    </main>

  </body>
</html>
