.product {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffe2b9;
    position: relative;
}

.product-img-list {
    width: 100%;
    padding: 2px;
    border-radius: 5px;
    background-color: #fff;
}

.product-img-list img {
    width: 100%;
    border-radius: 5px;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
}

.product-action-buttons {
    position: absolute;
    top:2px;
    right: 10px;
    display: flex;
    gap: 5px;
}



/* Buttons styles start */
.product-action-btn {
    display: block;
    border-radius: 3px;
    font-size: 1.2rem;
    border: none;
    padding: 5px;
    margin: 0;
    text-decoration: none;
    /* background: #b4c3d6; */
    background-color: #ede8e1;
    color: #000000;
    font-family: sans-serif;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.product-action-btn:hover,
.product-action-btn:focus {
    background: #dfa14b;
    color: #fff;
}

.product-action-btn:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.product-action-btn:active {
    transform: scale(0.99);
}
/* Button styles end */




@media (min-width:600px){
    .product {
        display: flex;
        gap: 5px;
    }

    .product-img-list {
        width: 70px;
    }

    .product-list{
        grid-template-columns: 1fr 1fr;
    }
}