<%- include('./partials/head') %>

</head>

<body>
    <%- include('./partials/header') %>
    <h1>Form de registro</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit pariatur saepe, officiis, accusantium laudantium consectetur deserunt sit impedit nam vel fugit rem quia nulla. Fuga ad temporibus dolor provident quae?</p>
  </body>
</html>
