<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <%- include('../partials/header') %>
    <main class="error">
      <div class="container wow fadeIn animated">
        <h1>Pagina no encontrada</h1>
      </div>
    </main>
</body>

</html>